.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    height: 60px;
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
    background: #343434;
    color: #9B9B9B;
}

.container ul {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.container ul li {
    cursor: pointer;
    transition: font-weight .0,5s;
}

.active {
    border-bottom: 1px solid #333;
}

.container ul li:last-child {
    padding: 6px;
    border-radius: 2px;
    background: #cc7462;
    color: #343434;
}

.navbarName {
    cursor: default;
    font-weight: bold;
}

.navbarIcon {
    padding-right: 2px;
    color: #cc7462;
}