.container {
    padding-top: 6%;
}

.container h3 {
    padding: 2.5%;
    text-align: center;
    font-size: 160%;
}

.icon {
    color: #7791B2;
}

.container > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerProject:nth-child(1) {
    background: no-repeat center/104% url("../../assets/images/landingtrackgenix.gif");
}

.containerProject:nth-child(2) {
    background: no-repeat center/104% url("../../assets/images/trackgenixserver.gif");
}

.containerProject:nth-child(3) {
    background: no-repeat center/104% url("../../assets/images/trackgenixapp.gif");
}

.containerProject:nth-child(4) {
    background: no-repeat center/105% url("../../assets/images/portfolio.gif");
    color: #D0D0D0;
}

.containerProject:nth-child(5) {
    background: no-repeat center/105% url("../../assets/images/taskapp.gif");
    color: #D0D0D0;
}

.containerProject {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: justify;
    overflow: hidden;
    box-sizing: border-box;
    width: 30%;
    min-width: 340px;
    height: 190px;
    margin: 5px;
    border-radius: 4px;
    color: #141C24;
}

.containerText {
    height: 45px;
    backdrop-filter: blur(6px);
    padding: 10px 10px;
}

.container a {
    text-decoration: none;
}

.containerProject a {
    width: fit-content;
    box-sizing: border-box;
    padding: 8px;
    margin: 10px 10px 10px auto;
    border-radius: 3px;
    text-align: center;
    font-weight: 600;
    background: #141C24;
    color: #7791B2;
}

.containerProject p {
    font-size: 15px;
    margin-bottom: 3%;
}

.containerProject a:hover {
    box-shadow: 0px 4px 10px #111111;
    transform: scale(1.035);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background: #7791B2;
    color: #141C24;
}

.containerProject:hover {
    box-shadow: 0px 4px 16px #131313;
    transform: scale(1.017);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

@media only screen and (min-width: 1024px) {
    .container {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media only screen and (min-width: 1305px) {
    .container {
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media only screen and (min-width: 1700px) {
    .container {
        margin-left: 25%;
        margin-right: 25%;
    }
}