.containerHamb {
    display: none;
}

.containerHamb .menu {
    right: 0;
    background-color: #343434;
    padding-bottom: 22px;
    padding-top: 4px;
    border-radius: 0px 0px 3px 3px;
}

.containerHamb .menu li:last-child {
    padding: 8px;
}

.containerHamb .menu li:nth-child(1), .containerHamb .menu li:nth-child(2), .containerHamb .menu li:nth-child(3){
    width: 50%;
    padding-bottom: 25px;
}

.containerHamb .menu li:nth-child(4) {
    margin-top: 7px;
    margin-bottom: 6px;
}

@keyframes moveMenu {
    100% { right: 0; }
    50% { right: -50%; }
    0% {right: -100%; }
}

@media (max-width: 600px) {
    .containerHamb .menu ul{
        min-width: 100%;
    }

    .containerHamb {
        background-color: #343434;
        display: block;
        position: fixed;
        top: 5px;
        font-size: 30px;
    }

    .containerHamb > div {
        position: fixed;
        animation-name: moveMenu;
        animation-duration: 0.5s;
    }

    .containerHamb ul {
        right: 0px;
        margin-top: 7px;
        list-style: none;
        display: flex;
        flex-direction: column;
    }

    .containerHamb li {
        cursor: pointer;
        padding: 10px;
        text-align: center;
    }

}