.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4% 0%;
}

.container h4 {
    padding: 2%;
    text-align: center;
    font-size: 160%;
}

.container p {
    margin-top: 1%;
    margin-bottom: 4%;
    font-size: 14px;
    color: #e01616;
}

.container span {
    color: #cc7462;
}

.container form {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 340px;
}

.container label {
    margin-bottom: 1%;
    font-weight: bold;
}

.container input {
    padding: 10px;
    border: 0;
    border-radius: 3px;
    border: 1px solid #464646;
    background: #343434;
    color: #e4e4e4;
    font-family: 'Inter', sans-serif;
}

.container p {
    color: #e01616;
}

.container textarea {
    padding: 10px 10px 35px 10px;
    border: 0;
    resize: none;
    border-radius: 3px;
    border: 1px solid #464646;
    background: #343434;
    color: #e4e4e4;
    font-family: 'Inter', sans-serif;
}

.container input:last-child {
    text-align: center;
    border: 0;
    padding: 10px;
    border-radius: 3px;
    background: #3f8855;
    color: #1E1E1E;
    font-weight: 600;
}

.container input:last-child:hover {
    box-shadow: 0px 4px 13px #131313;
    transform: scale(1.01);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}