.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    height: 60px;
    width: 100%;
    padding-left: 7%;
    padding-right: 7%;
    background: #343434;
    color: #9B9B9B;
}

.container ul {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.container ul li {
    cursor: pointer;
    transition: font-weight .0,5s;
}

.active {
    color: #cc7462;
}

.container ul li:last-child {
    padding: 6px;
    border-radius: 2px;
    background: #cc7462;
    color: #343434;
}

.navbarName {
    cursor: default;
    font-weight: 600;
}

.container ul li:hover {
    color: #cc746281;
}

.container ul li:last-child:hover {
    box-shadow: 0px 4px 8px #2b2b2b;
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
    color: #343434;
}