.container {
    text-align: center;
}

.container p {
    display: inline-block;
    border-radius: 3px;
    padding: 5px;
    background-color: #0f0f0f;
    border: solid 1px #353535;
    font-family: consolas, monospace;
    font-size: 72%;
    margin-bottom: 0.7%;
}

.container div {
    padding: 0.3%;
}

.container a {
    padding-left: 0.6%;
    padding-right: 0.6%;
    color: #7791B2;
    font-size: 175%;
}

.container span {
    font-weight: bold;
}

.intermittent {
    animation: intermittent 1s steps(1) infinite;
  }

  @keyframes intermittent {
    50% { color: transparent; }
}